/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 600;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #333;
    /*overflow-x: hidden;*/
}
a:hover { text-decoration: none }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], textarea {
    
}
input[type="submit"], button[type="submit"] , button[type="button"]{
    cursor: pointer;
}
.section-title {
    color: #525252;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-border {
    border-left: 4px solid #2dcc70;
    border-right: 4px solid #2dcc70;
    display: inline-block;
    padding: 0 10px;
}
.section-title h2 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-border {
    position: relative;
    display: inline-block;
}
.boxed-btn, input[type="submit"], button[type="submit"] {
    color: #555;
    text-decoration: none;
    padding: 5px 5px 5px 25px;
    border-radius: 50px;
    font-size: 15px;
    position: relative;
    z-index: 9;
    transition: .3s;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
}
.boxed-btn span, input[type="submit"] span, button[type="submit"] span {
    width: 35px;
    height: 35px;
    background-color: #555;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 33px;
    margin-left: 20px;
    font-weight: normal;
    transition: .3s;
}
.boxed-btn:hover span, input[type="submit"]:hover span, button[type="submit"]:hover span {
    background-color: #fff;
    color: #555;
}
.boxed-btn:hover, input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #2DCC70;
    color: #fff;
}
/*input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #0DA0F4 !important;
    color: #fff;
}*/

/*
======.owl-dots customization=======
/*/
.owl-dots div {
    height: 5px;
    width: 5px;
    background-color: #BBBBBB;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
}
.owl-dots {
    text-align: center;
}
.owl-dots div.active {
    background-color: #0DA0F4;
}

/*
=====owl nav customization======
*/
.owl-nav div {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    color: #ADADAD;
    font-size: 50px;
    line-height: 60px;
    margin-top: -35px;
}
.owl-nav div.owl-next {
    left: auto;
    right: 0;
}
.owl-nav div:hover {
    color: #0DA0F4;
}

select {
    font-size: 19px;
    color: #0da0f4;
    background-color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 8px 10px;
}
select {outline: none }



/*============.header-area=============*/
.header-area {
    border-bottom: 1px solid #eeeeee;
    color: #555;
    text-transform: uppercase;
}
.topbar-add, .topbar-tel {
    padding: 20px 0 20px 20px;
    border-left: 1px solid #eeeeee;
}
.header-area i.fa {
    color: #2dcc70;
}
.topbar-add span i.fa, .topbar-tel span i.fa {
    margin-right: 6px;
    font-size: 16px;
}
.topbar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.topbar-nav ul li {
    display: inline-block;
    padding: 20px 0;
}
.topbar-nav ul li a {
    color: #555;
    display: block;
    padding: 0px 32px;
    font-weight: 300;
    border-right: 1px solid #eee;
}
.topbar-nav ul li:last-child a {
    border-right: 0;
}
.topbar-lang .dropdown a {
    background: #fff;
    border: 0;
    color: #555;
    font-size: 14px;
}
.topbar-lang {
    padding: 14px 0px;
    border-right: 1px solid #eee;
}
.topbar-lang .dropdown.show a {
    background: #fff;
    border: 0;
}
.topbar-lang .dropdown a.btn:focus, .topbar-lang .dropdown.show a.btn:focus, .topbar-lang .dropdown.show a {
    box-shadow: none;
    background: none;
    color: #555;
}
.topbar-lang .dropdown a .lang {
    margin-right: 6px;
}
.topbar-lang .dropdown-toggle::after {
    border: 0;
}
.header-area .topbar-lang i.fa-caret-down {
    font-size: 13px;
    margin-left: 5px;
}


/*=========mainmenu-area=============*/
.logo {
    padding: 22px 0;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li {
    display: inline-block;
    padding: 36px 5px;
    position: relative;
}
.mainmenu ul li a {
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 10px 7px;
}
.mainmenu ul li a i.fa {
    margin-left: 4px;
}
/*========.dropdown-menu===========*/
.mainmenu ul li ul {
    position: absolute;
    left: 0;
    top: 110px;
    width: 120px;
    text-align: left;
    border: 1px solid #eee;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 9;
    background-color: #fff;
}
.mainmenu ul li ul li {
    padding: 0;
    display: block;
}
.mainmenu ul li ul li a {
    padding: 10px 15px;
}
.mainmenu ul li:hover ul {
    opacity: 1;
    visibility: visible;
     top: 85px; 
}


/*==========homepage-slides-area===============*/
.slide-bg-1{background-image: url(../img/slide-bg-1.jpg);}
.slide-bg-2{background-image: url(../img/slide-bg-1.jpg);}
.single-slide {
    background-size: cover;
    background-position: center;
    height: 560px;
    background-color: #ddd;
}
.slide-text, .slide-text h3 {
    color: #fff;
}
.slide-text h3 {
    letter-spacing: 5px;
    font-size: 22px;
}
.slide-text h2 {
    font-size: 50px;
}
.model-text {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.model-text span {
    background-color: #2BC26A;
    padding: 0 10px;
    font-weight: 600;
}
.slide-text {
    margin: 110px 0 0 185px;
}



.search-title {
    background-color: #2DCC70;
    display: inline-block;
    padding: 12px 20px;
}
.search-title h2.section-title {
    color: #fff;
}
.search-title h2.section-border {
    border-color: #fff;
    margin: 0;
}
.single-vehicle-type {
    text-align: center;
}
.single-vehicle-type input {
    display: none;
}
.single-vehicle-type input + label {
    font-size: 50px;
    color: #d6d6d6;
    cursor: pointer;
    width: 100%;
}
.single-vehicle-type input:checked + label h5, .single-vehicle-type input:checked + label {
    color: #d6d6d6;
}
.single-vehicle-type input + label h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -3px;
}
.single-vehicle-type input + label:hover, .single-vehicle-type input + .search-type-svg.active {
    color: #2DCC70;
}
.single-vehicle-type input + label:hover h5, .single-vehicle-type input:checked + label:hover h5 {
    color: #d6d6d6;
}
.vehicle-type-wrap h4 {
    color: #545454;
    font-size: 16px;
    margin: 38px 0 0 0;
}
.single-vehicle-type h5 {
    position: relative;
    text-align: center;
}
.single-vehicle-type input:checked + label h5:after, .single-vehicle-type input:checked + label h5:before {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background-color: #B4B4B4;
    content: "";
}
.single-vehicle-type input:checked + label h5:before {
    width: 10px;
    height: 10px;
    border-left: 1px solid #B4B4B4;
    border-bottom: 1px solid #B4B4B4;
    transform: rotate(-45deg);
    left: 50%;
    bottom: -25px;
    margin-left: -5px;
    background: #fff;
    z-index: 2;
}


.nice-select {
    height: 40px;
    line-height: 37px;
    padding-left: 18px;
    padding-right: 30px;
}
.nice-select:active, .nice-select.open, .nice-select:focus, .nice-select:hover {
    border-color: #eee;
}
.single-select-item .nice-select {
    width: 194px;
}
.single-select-item .slt-text {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    display: block;
    margin-bottom: 35px;
}
.select-wrap {
    display: inline-block;
}
.single-select-item .nice-select .list {
    width: 100%;
}
.single-select-item .nice-select .option {
    line-height: 35px;
    min-height: 35px;
}
.vehicle-submit-btn button[type="submit"] {
    background-color: #555;
    color: #fff;
}
.vehicle-submit-btn button[type="submit"] span {
    background-color: #2DCC70;
}
.vehicle-submit-btn .boxed-btn:hover {
    background-color: #2DCC70;
    color: #fff;
}
.vehicle-submit-btn button[type="submit"]:hover span {
    background-color: #fff;
}


/*===============.range-sldier==================*/
.slider-container .scale {
    display: none;
}
.range-slider-wrap .slider-container {
    width: 230px !important;
}
.range-slider-wrap .theme-green .back-bar {
    height: 12px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #eee;
}
.range-slider-wrap .theme-green .back-bar .selected-bar {
    background-color: #EEEEEE;
    background-image: none;
}
.range-slider-wrap .theme-green .back-bar .pointer {
    top: -1px;
    border: 0;
    background-color: #2DCC70;
    background-image: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.range-slider-wrap .theme-green .back-bar .pointer:after {
    position: absolute;
    left: -2px;
    width: 16px;
    height: 16px;
    background: none;
    content: "";
    border: 1px solid #ddd;
    top: -2px;
    border-radius: 50%;
}
.range-slider-wrap .theme-green .back-bar .pointer-label {
    top: 26px;
    font-size: 14px;
}
.range-slider-wrap .theme-green .back-bar .pointer-label.low {
    left: -4px;
}